extends layout

block content
  .row.banner
    col-12
      h1= title
    .col-12.col-lg-8
      p
      | Cupfi is designed to help you find cofee shops with wifi available.
      | Based on other users' ratings you can find great places to do your work